<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-2">Daftar Contact</h2>
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">No HP</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4" rowspan="1">
              <p class="text-danger text-center fw-bold">
                Data contact masih kosong!
              </p>
            </td>
          </tr>
          <% } %> <% contacts.forEach((contact, i) => { i++ %>
          <tr>
            <th scope="row"><%= i++ %></th>
            <td><%= contact.nama %></td>
            <td><%= contact.noHp %></td>
            <td>
              <a
                href="/contact/<%= contact.nama %>"
                class="btn btn-primary badge rounded-pill"
                ><i class="bi bi-info-circle"></i> Detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
