<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/green-acount.jpeg"
        alt="Profile"
        class="img-thumbnail rounded-circle"
        width="200px"
      />
      <h1>Dhillen</h1>
      <p class="lead">Student | Also Student</p>
    </div>
  </div>
</div>
